

<body>
<h2 id="title">Ascending C Major</h2>
<div class="container" >
 <!----  <img src="../../assets/images/Scale.png" id="sheet">-->

 <!---- <div id="boo" ></div>-->
</div>


<div class="container-fluid" >

  <div class="row">
    <div class="col-sm-4" id="col1" Style="color:#e65bcf">
        Goal
    </div>
    <div class="col-sm-4" id="col2" >       
        <audio controls id="audio">
            <source src="../../assets/Audio/New Recording 22.mp3" type="audio/mpeg" >
        </audio>
    </div>
  </div> 



    <div class="row">
        <div class="col-sm-4" id="col1" Style="color:#e65bcf;;">
            
            You can do this!
        </div>
        <div class="col-sm-4" id="col2">       
            <audio controls id="audio">
                <source src="../../assets/Audio/New Recording 22.mp3" type="audio/mpeg" >
            </audio>
        </div>

   </div>
</div>

</body>

