
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell" style=" color: #92a8d1; ">
                <ul>
                    <h2 >Introduction to music notations</h2 >
                  
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #f39317;">
    <div class="content">
        <div class="table">
           
            <a href="#" class="table-cell" routerLink="/lessons" style=" color: #f39317;"><h2>Solfeg Lessons</h2></a>
          
        </div>
    </div>
</div>
<div class="square" style=" border-color: #d74726;">
    <div class="content">
        <div class="table">
                <a href="#" class="table-cell" routerLink="/ear" style=" color: #d74726;"><h2>Ear Training</h2 ></a>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #42ae18;">
    <div class="content">
        <div class="table"> 
                <a href="#" class="table-cell" routerLink="/intervals" style="color: #42ae18;"><h2>Songs</h2 ></a>          
        </div>
    </div>
</div>

<div class="square" style=" border-color: #00a1de;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #00a1de;">Chapter 5</h2 >This demo shows you can center multiple types of content :
                    <li>Text</li>
                    <li>Images</li>
                    <li>Lists</li>
                    <li>... (you can also do it with forms)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #8d33aa;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #8d33aa;">Chapter 6</h2 >This demo shows you can center multiple types of content :
                    <li>Text</li>
                    <li>Images</li>
                    <li>Lists</li>
                    <li>... (you can also do it with forms)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
