
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell" style=" color: #92a8d1; ">
                <ul>
                    <h2 >Introduction to Ear Training</h2 >
                  
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #f39317;">
    <div class="content">
        <div class="table">
           
            <a href="#" class="table-cell" routerLink="/earintv" style=" color: #f39317;"><h2>Intervals of Second</h2></a>
          
        </div>
    </div>
</div>
<div class="square" style=" border-color: #42ae18;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #42ae18;">Intervals of forth and fifth</h2 >
             
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #d74726;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #d74726;">Intervals of Octave</h2 >
             
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #00a1de;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #00a1de;">All</h2 >
             
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #8d33aa;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #8d33aa;">Melodies</h2 >
             
                </ul>
            </div>
        </div>
    </div>
</div>


