
<div class="section">
<ul><h1 style=" color: #00a1de;">Welcome to Solfege Lessons</h1 ><p>This demo shows you can center multiple types of content :</p>
  <div>
    <span class="title"><a routerLink="/secintv">A.Intervals of second</a></span>
    <div class="lists">
      <li>Scale of C Magor</li>
      <li>Whole Notes</li>
      <li>Half Notes</li> 
      <li>Quarter Notes</li>
      <li>Mixture of All</li>
    </div>
  </div>
  <div>
    <span class="title" style="color: #42ae18;">B.Intervals of second</span>
    <div class="lists">
      <li>Scale of C Magor</li>
      <li>Whole Notes</li>
      <li>Half Notes</li> 
      <li>Quarter Notes</li>
      <li>Mixture of All</li>
    </div>
  </div>
  <div>
    <span class="title" style="color: #d74726;">C.Intervals of second</span>
    <div class="lists">
      <li>Scale of C Magor</li>
      <li>Whole Notes</li>
      <li>Half Notes</li> 
      <li>Quarter Notes</li>
      <li>Mixture of All</li>
    </div>
  </div>
</ul>

</div>







  

